.top{
    @include flex(flex, space-between, center,column, wrap);

    @media(min-width: $mq-1){
        flex-direction: row;
        flex-wrap: nowrap;
    }
    &__item{
        width: 100%;
        margin-bottom: 20px;
        @media(min-width: $mq-1){
            width: calc(50% - #{$gap / 2.6});
            margin-bottom: 0;
        }
    }
    &__img{
        height: 60vw;
        width: 100%;
        object-fit: cover;
        margin-bottom: 20px;
        @media(min-width: $mq-1){ height: 30vw; }
    }
    &__title{
        font-size: 14px;
        letter-spacing: .26px;
        font-weight: 600;
        line-height: 2.5;
    }
    &__description{
        font-size: 16px;
        letter-spacing: .65px;
        font-weight: 400;
    }
}
