.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/header-m.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media(min-width: $mq-1){ background-image: url("../img/header.jpg"); }
}
.slider{
    width: 100%;
    padding: $gap $gap / 2 0;
    @media(min-width: $mq-2){ padding: $gap * 2 $gap $gap; }
}
.top{
    width: 100%;
    padding: 0  $gap / 2 $gap;
    @media(min-width: $mq-2){ padding: $gap * 2 $gap ; }
}
.instagram{
    width: 100%;
    padding: $gap / 2 ;
    @media(min-width: $mq-2){ padding: $gap * 2 $gap 0 ; }
}
.footer{
    padding: 0  $gap / 2 $gap;
    @media(min-width: $mq-2){ padding: $gap * 2 $gap $gap; }
    @include flex(flex, flex-start, flex-start, column, wrap);
}
