footer.footer.reveal
    div.info
        
        div.info__item
            h3.info__title About
                div.info__icon
                    div.info__icon-1
                    div.info__icon-2
            div.info__content
                p.info__description Founded in 2010 in Amsterdam, ETQ derived under the mindset of eliminating over-accessorized branding and focusing primarily on letting the quality of the product speak for itself. Read more
                
        - var n = "<br>";
        div.info__item
            h3.info__title Address
                div.info__icon
                    div.info__icon-1
                    div.info__icon-2
            div.info__content
                p.info__description Singel 465!{n}1012 WP Amsterdam!{n}The Netherlands
                
        div.info__item
            h3.info__title Contact
                div.info__icon
                    div.info__icon-1
                    div.info__icon-2
            div.info__content
                a.info__link Email us
                a.info__link +31 (0) 202 615 614
                
        div.info__item
            h3.info__title Info
                div.info__icon
                    div.info__icon-1
                    div.info__icon-2
            div.info__content
                a.info__link Shipping info
                a.info__link Contact
                a.info__link Careers
                
        div.info__item
            h3.info__title Follow us
                div.info__icon
                    div.info__icon-1
                    div.info__icon-2
            div.info__content
                a.info__link Instagram
                a.info__link Facebook
        
        
    div.faq
        form.newsletter
            label.newsletter__label(for="a") Newsletter
            input.newsletter__input(type="text" id="a" placeholder="email")
            input.newsletter__submit(type="submit", value="Submit") 
            
        div.terms
            img.terms__icon(src="img/footer-1.png", alt="Ícono de terms")
            img.terms__icon(src="img/footer-2.png", alt="Ícono de terms")
            img.terms__icon(src="img/footer-3.png", alt="Ícono de terms")
            img.terms__icon(src="img/footer-4.png", alt="Ícono de terms")
            img.terms__icon(src="img/footer-5.png", alt="Ícono de terms")
            img.terms__icon(src="img/footer-6.png", alt="Ícono de terms")
            img.terms__icon(src="img/footer-7.png", alt="Ícono de terms")
                
        div.terms-g
            a.terms__link(href="#") Terms & Conditions
            a.terms__link(href="#") Privacy Statement
