header.header
    
    nav.menu#menu
        
        ul.menu__list
            li.menu__item.menu__icon
                div.menu__plus 
                div.menu__plus
                div.menu__plus
            li.menu__item
                h1.menu__title: a(href="#").menu__etq#etq ETQ.
            li.menu__item.menu__item--mbl
                a(href="#").menu__link.g-link Men
            li.menu__item.menu__item--mbl
                a(href="#").menu__link.g-link Women
            li.menu__item.menu__item--mbl
                a(href="#").menu__link.g-link Permanent collection
            li.menu__item
                div.menu__cart#cart 0
            
        div.profile
            a(href="#").profile__link.g-link Search
            a(href="#").profile__link.g-link Help
            a(href="#").profile__link.g-link My account
            
    div.collection
        p.collection__description Fall Winter – 2019 PT 03
        h2.collection__title Explore the new collection
