div.instagram.reveal
    
    div.instagram__main-title
        img.instagram__icon(src="img/instagram.svg", alt="")
        h3.instagram__title Instastore
    
    div.instagram__container
        div.instagram__item
            img.instagram__img(src="img/instagram-1.jpg", alt="Imagen de instagram")
            h3.instagram__title: a.instagram__link(href="#") 16 hours ago
            p.instagram__description It's lace-up boot weather | Get yours in-store and online
            p.instagram__likes 330 likes
                
        div.instagram__item
            img.instagram__img(src="img/instagram-2.jpg", alt="Imagen de instagram")
            h3.instagram__title: a.instagram__link(href="#")  3 days ago
            p.instagram__description It’s all-black season
            p.instagram__likes 536 likes
                
        div.instagram__item
            img.instagram__img(src="img/instagram-3.jpg", alt="Imagen de instagram")
            h3.instagram__title: a.instagram__link(href="#") 6 days ago
            p.instagram__description Autumn update: Water repellent nappa, anyone?
            p.instagram__likes 701 likes
                
        div.instagram__item
            img.instagram__img(src="img/instagram-4.jpg", alt="Imagen de instagram")
            h3.instagram__title: a.instagram__link(href="#") 1 week ago
            p.instagram__description LT 01 Archive Edition
            p.instagram__likes 274 likes
