div.slider.reveal
    div.slider__item
        img.slider__img(src="img/slider-1.jpg", alt="Imagen de slider")
        h3.slider__title: a.slider__link(href="#") The Essentials
        p.slider__description Shop LT 01 White
            
    div.slider__item
        img.slider__img(src="img/slider-2.jpg", alt="Imagen de slider")
        h3.slider__title: a.slider__link(href="#") Chelsea boots
        p.slider__description Shop now
            
    div.slider__item
        img.slider__img(src="img/slider-3.jpg", alt="Imagen de slider")
        h3.slider__title: a.slider__link(href="#") Archive Editions
        p.slider__description Explore more
