div.top.reveal
    div.top__item
        img.top__img(src="img/top-1.jpg", alt="Imagen de top")
        h3.top__title: a.top__link(href="#") Permanent Collection
        p.top__description Shop our refined Essence Series
            
    div.top__item
        img.top__img(src="img/top-2.jpg", alt="Imagen de top")
        h3.top__title: a.top__link(href="#") ETQ Series
        p.top__description Visit our flagship store in heart of Amsterdam
